@{
    ViewBag.Title = "Quản lý thẻ RFID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .k-edit-form-container {
        position: relative;
        width: 100%;
    }

    .button {
        background-color: #3f51b5;
        border: 1px;
        color: #ffffff;
        text-align: center;
    }

    .button1 {
        background-color: #ff0000;
        border: 1px;
        color: #ffffff;
        text-align: center;
    }
</style>
<script src="~/data/Data.js"></script>
<h2 style="margin-top:10px;">Danh sách phụ huynh</h2>
<div id="example" style="margin-top:30px;">
    <div id="grid"></div>

</div>

<script>
    function changeColor(arg, idthe) {
        console.log(idthe);
        var data = { "IDThe": idthe }
        $.ajax({
            type: "GET",
            url: "/Parents/ActiveThe",
            data: data,
            success: function (r) {
                if (r) {
                    $('#grid').data('kendoGrid').dataSource.read();
                    console.log(data);
                }
                else {
                    bootbox.alert('Cập nhật không thành công!').find('div.modal-dialog').css({
                        'left': '0px',
                        'color': '#F00',
                    });
                }
            },
            error: function (err) {
                bootbox.alert('Cập nhật không thành công!').find('div.modal-dialog').css({
                    'left': '0px',
                    'color': '#F00',
                });
            }
        })
    }
    function changeIDLop(e) {
        console.log($("#idlop").data("kendoComboBox").value());
        $("#idhocsinh").kendoComboBox({
            emptyText: "",
            dataTextField: "TenHocSinh",
            dataValueField: "IDHocSinh",
            dataSource: {
                transport: {
                    read: {
                        type: "POST",
                        url: "/Parents/DanhSachHocSinh",
                        dataType: 'json',
                        data: { idlop: $("#idlop").data("kendoComboBox").value() },
                        success: function (msg) {
                            options.success(msg.d);
                        }
                    }
                }
            }
        });
        $("#idhocsinh").data("kendoComboBox").value("");
    }
    $(document).ready(function () {
        $("#ganhs").hide();
        var wd = $("#window").kendoWindow({
            width: "600px",
            title: "Thêm dữ liệu từ Excel",
            visible: false
        }).data("kendoWindow").center();
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("DanhSachPH", "Parents")',
                    dataType: 'jsonp',
                    success: function (msg) {
                        options.success(msg.d);
                    }
                },
                create: {
                    url: '@Url.Action("Insert", "Parents")',
                    dataType: 'jsonp',
                    success: function (msg) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    },
                    error: function () {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                },
                update: {
                    url: '@Url.Action("Update", "Parents")',
                    dataType: 'jsonp',
                    success: function (msg) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    },
                    error: function () {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                },
                destroy: {
                    url: '@Url.Action("Delete", "Parents")',
                    dataType: 'jsonp',
                    success: function (msg) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    },
                    error: function () {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 10,
            schema: {
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: false, nullable: false, defaultValue: 0 },
                        IDThe: { editable: true, nullable: false },
                        IDImage: { editable: false, nullable: false, defaultValue: 0 },
                        IDMoiQuanHe: { editable: true, nullable: false },
                        TenPhuHuynh: { editable: true, nullable: false },
                        TenMoiQuanHe: { editable: true, nullable: false },
                        NgaySinh: { editable: true, nullable: false },
                        GioiTinh: { editable: true, nullable: false },
                        DiaChi: { editable: true, nullable: false },
                        Path: { teditable: true, nullable: false, type: "string", defaultValue: "@(string.Format("{0}/Images/ImagesHocSinh/03082017103653.png", UniTagDataAccess.Utils.Utils.BASEURL))" },
                        isActive: { editable: true, nullable: false, defaultValue: "Đã kích hoạt" }
                    }
                }
            }
        });


        $("#grid").kendoGrid({
            dataSource: dataSource,
            height: 550,
            groupable: false,
            toolbar: kendo.template($("#toolbarloc").html()),
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: [5, 10, 15, "Tất cả"],
                buttonCount: 5,
                messages: {
                    itemsPerPage: "phụ huynh trên trang",
                    display: "{0}-{1} của {2} phụ huynh",
                    empty: "Không có dữ liệu",
                    allPages: "Hiển thị tất cả",
                    page: "Nhập trang",
                    of: "của {0}",
                    first: "Trang đầu",
                    previous: "Trang trước",
                    next: "Trang kế tiếp",
                    last: "Trang cuối",
                    refresh: "Làm mới"
                }
            },
            columns: [
                {
                    template: "<div class='customer-photo'" +
                                    "style='background-image: url(#:Path#);'></div>" +
                                "<div class='customer-name'>#: TenPhuHuynh #</div>",
                    field: "TenPhuHuynh",
                    title: "Họ và Tên",
                    width: '25%'
                }, {
                    field: "IDThe",
                    title: "Mã thẻ RFID",
                    width: '17%'
                }, {
                    field: "GioiTinh",
                    title: "Giới tính",
                    filterable: true,
                    width: '10%'
                }, {
                    field: "NgaySinh",
                    title: "Ngày sinh",
                    format: "{0: dd/MM/yyyy}",
                    width: '10%'
                }, {
                    template: "#if( isActive =='Đã kích hoạt') {# <a role='button' id='active' onclick = \"changeColor(this,'#=IDThe#')\" class='k-button k-button-icontext button'>#= isActive#</a>#}" +
                                "else{#<a role='button' id='active' onclick = \"changeColor(this,'#=IDThe#')\" class='k-button k-button-icontext button1'>#= isActive#</button>#}#",
                    field: "isActive",
                    title: "Trạng thái",
                    width: '15%'
                },
            {
                command: [{
                    text: "Gán", click: function (e) {
                        e.preventDefault();
                        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                        $("#idphuhuynh").val(dataItem.ID);
                        var wnd = $("#ganhs")
                           .kendoWindow({
                               title: "Gán mối quan hệ HS - PH",
                               modal: true,
                               visible: false,
                               resizable: false,
                               width: 500,
                               height: 200,
                               scrollable: false,
                           }).data("kendoWindow");
                        wnd.center().open();

                        $("#idlop").kendoComboBox({
                            emptyText: "",
                            dataTextField: "Lop",
                            dataValueField: "IDLop",
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "/Parents/DanhSachLop",
                                        dataType: 'jsonp',
                                        success: function (msg) {
                                            options.success(msg.d);
                                        }
                                    }
                                }
                            }
                        });
                        $("#idhocsinh").kendoComboBox({
                            emptyText: "",
                        });
                        $("#idlop").data("kendoComboBox").value("");
                        $("#idhocsinh").data("kendoComboBox").value("");
                        var combobox = $("#idlop").data("kendoComboBox");
                        combobox.bind("change", changeIDLop);
                    }
                }, { name: "edit", text: "Sửa" }], title: "Tác vụ", width: "18%"
            }]
            , editable: {
                mode: "popup",
                template: kendo.template($("#popup_editor").html()),
                window: {
                    scrollable: false,
                    width: "800px",
                    form: {
                        width: "100%"
                    }
                }
            },
            edit: function (e) {
                e.preventDefault();
                var item = e.model;
                var src;
                if (e.model.id == 0) {
                    e.container.kendoWindow("title", "Tạo mới");
                    e.container.find(".k-button.k-grid-update").html("<span class='k-icon k-i-check'></span>Tạo mới"); //update button
                    e.container.find(".k-button.k-grid-cancel").html("<span class='k-icon k-i-cancel'></span>Hủy"); //cancel button
                } else {
                    e.container.kendoWindow("title", "Chỉnh sửa");
                    e.container.find(".k-button.k-grid-update").html("<span class='k-icon k-i-check'></span>Cập nhật"); //update button
                    e.container.find(".k-button.k-grid-cancel").html("<span class='k-icon k-i-cancel'></span>Hủy"); //cancel button
                }
                var idPH = e.model.id;
                $(".k-button.k-grid-update").click(function (e) {
                    var data, url;
                    if (idPH == 0) {
                        url = "/Parents/ThemAnhPhuHuynh";
                        data = {
                            "base64": src
                        }
                    }
                    else {
                        url = "/Parents/UpdatePhuHuynh";
                        data = {
                            "base64": src,
                            "idPH": idPH
                        };
                    }
                    console.log(idPH);
                    $.ajax({
                        type: "POST",
                        url: url,
                        dataType: 'json',
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res != 0) {
                                console.log("success");
                                $('#grid').data('kendoGrid').dataSource.read();
                            }
                            else {
                                bootbox.alert('Vui lòng tải ảnh định dạng .jpg, .png, .gif và kích thước ảnh tối đa 1 MB!').find('div.modal-dialog').css({
                                    'left': '0px',
                                    'color': '#F00',
                                });

                            }
                        },
                        error: function () {
                            bootbox.alert('Cập nhật không thành công!').find('div.modal-dialog').css({
                                'left': '0px',
                                'color': '#F00',
                            });
                        }
                    })
                })
                $("#gioitinh").kendoComboBox({
                    dataSource: ["Nam", "Nữ"]
                });


                $("#moiqh").kendoComboBox({
                    emptyText: " ",
                    dataTextField: "TenMoiQuanHe",
                    dataValueField: "ID",
                    dataSource: {
                        transport: {
                            read: {
                                url: '@Url.Action("DanhSachMoiQH", "Parents")',
                                dataType: 'jsonp',
                                success: function (msg) {
                                    options.success(msg.d);
                                }
                            },
                        }
                    }
                });

                $("#datepicker").kendoDatePicker({
                    format: "dd/MM/yyyy",
                    parseFormats: ["dd/MM/yyyy", "dd/MM/yyyy"],
                    dateInput: true
                });

                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            if (e.target.result != null)
                                $('#image').attr('src', e.target.result);
                            src = e.target.result.toString();
                        }

                        reader.readAsDataURL(input.files[0]);

                    }
                }

                $("#uploadfile").change(function () {
                    readURL(this);

                });
                return false;
            }
        });
    });

    function submitganhs() {

        var idph = $("#idphuhuynh").val();
        var idhs = $("#idhocsinh").data("kendoComboBox").value();
        console.log(idph + " " + idhs);
        var data = {
            "ID_PhuHuynh": idph,
            "ID_HocSinh": idhs
        };
        console.log(data);
        $.ajax({
            type: "GET",
            url: "/Parents/GanHocSinh",
            data: data,
            success: function (msg) {
                if (msg) {
                    $("#ganhs").data("kendoWindow").close();
                    bootbox.alert('Thao tác thành công, dữ liệu đã được cập nhật!').find('div.modal-dialog').css({
                        'left': '0px',
                        'color': '#F00',
                    });
                }
                else {
                    console.log(msg);
                    $("#ganhs").data("kendoWindow").close();
                    bootbox.alert('Cập nhật không thành công!').find('div.modal-dialog').css({
                        'left': '0px',
                        'color': '#F00',
                    });
                }
            },
            error: function () {
                bootbox.alert('Cập nhật không thành công!').find('div.modal-dialog').css({
                    'left': '0px',
                    'color': '#F00',
                });
            }
        });
    }
    function cancelganhs() {
        $("#ganhs").data("kendoWindow").close();
    }

    function searchphuhuynh() {

        var ten = $("#tenphuhuynh").val();
        var mathe = $("#mathe").val();

        var data = {
            "Ten": ten,
            "MaThe": mathe
        }
        console.log(data);
        $.ajax({
            type: "GET",
            url: "/Parents/DanhSachPHLoc",
            data: data,
            success: function (msg) {
                var ds = new kendo.data.DataSource({
                    data: msg
                });
                $('#grid').data('kendoGrid').setDataSource(ds);
            },
            error: function () {
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            }
        });
    }
    //$("#grid").data("kendoGrid").dataSource.data(d.data());
    function importexcel() {
        $("#window").getKendoWindow().open();
    }

    function cancel() {
        $("#window").getKendoWindow().close();
    };
</script>

<div id="window">
    <form role="form" name="form1" method="post" action="@Url.Action("Import", "Parents")" enctype="multipart/form-data">
        <div>
            <input name="myFile" type="file" />
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>
<script type="text/x-kendo-template" id="toolbarloc">
    <div class="row" style="margin-left: 5px">
        <div class="col-sm-4" style="text-align:start">
            <a class="k-button k-grid-add"><span class="glyphicon glyphicon-plus"></span>Tạo mới</a>
            <a class="k-button" onclick="importexcel()"><span class="k-icon k-i-download"></span> Thêm dữ liệu từ Excel</a>
        </div>

        <div class="col-sm-8" style="text-align:end">
            <label class="required">Tên:</label>
            <input id="tenphuhuynh" class="k-textbox" style="height:2.13em;" />

            <label class="required">Mã thẻ:</label>
            <input id="mathe" class="k-textbox" style="height:2.13em;" />

            <a class="k-button" onclick="searchphuhuynh()"><span class="k-icon k-i-search"></span>Tìm kiếm</a>
        </div>
    </div>
</script>


<div id="ganhs">
    <input type="hidden" id="idphuhuynh" />
    <div class="row" style="margin-left: 5px; margin-bottom:30px">
        <div class="col-sm-4" style="margin-top: 5px">
            <label> Lớp: </label>
        </div>
        <div class="col-sm-4">
            <input id="idlop" placeholder="Chọn lớp..." style="width: 88%" />
        </div>
    </div>

    <div class="row" style="margin-left: 5px; margin-bottom:30px">
        <div class="col-sm-4" style="margin-top: 5px">
            <label> Chọn học sinh: </label>
        </div>
        <div class="col-sm-4">
            <input id="idhocsinh" placeholder="Chọn học sinh..." style="width: 88%" />
        </div>
    </div>

    <div class="row text-center">
        <a id="submit" onclick="submitganhs()" class="k-button k-button-icontext k-primary k-grid-update">Gán</a>
        <a id="cancel" onclick="cancelganhs()" class="k-button k-button-icontext k-primary k-grid-update">Hủy</a>
    </div>
</div>


<script type="text/x-kendo-template" id="toolbarloc">
    <div class="row" style="margin-left: 5px">
        <a class="k-button k-grid-add"><span class="glyphicon glyphicon-plus"></span>Tạo mới</a>
        <label class="required">Tên:</label>
        <input class="k-textbox" style="height:2.13em;" />
    </div>
</script>


<script id="popup_editor" type="text/x-kendo-template">
    <p>
        <div class="row" style="text-align:center; margin-bottom:10px">
            <img id="image" class='customer-photo2' src="#:Path#" />
        </div>

        <div class="row" style="margin: 10px">
            <div class="col-sm-5"></div>

            <div class="col-sm-2">
                <div> <input type="file" id="uploadfile" /></div>
            </div>

            <div class="col-sm-5"></div>
        </div>
    </p>

    <p>
        <div class="row" style="margin-left: 5px;  margin-bottom:10px">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="margin-top: 10px">
                <label> Tên phụ huynh: </label>
            </div>
            <div class="col-sm-4">
                <input class="k-textbox" style="width:230px;" data-bind="value: TenPhuHuynh" data-source="dataSource" type="text" />
            </div>
        </div>
    </p>
    <p>
        <div class="row" style="margin-left: 5px;  margin-bottom:10px">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="margin-top: 10px">
                <label> Mã thẻ RFID: </label>
            </div>
            <div class="col-sm-4">
                <input class="k-textbox" style="width:230px;" data-bind="value: IDThe" data-source="dataSource" type="text" />
            </div>
        </div>
    </p>
    <p>
        <div class="row" style="margin-left: 5px;  margin-bottom:10px">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="margin-top: 10px">
                <label> Ngày sinh: </label>
            </div>
            <div class="col-sm-4">
                <input id="datepicker" data-bind="value: NgaySinh" value="10/10/2011" style="width: 93%" />
            </div>
        </div>
    </p>
    <p>
        <div class="row" style="margin-left: 5px;  margin-bottom:10px">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="margin-top: 10px">
                <label> Địa Chỉ: </label>
            </div>
            <div class="col-sm-4">
                <input class="k-textbox" style="width:230px;" data-bind="value: DiaChi" data-source="dataSource" type="text" />
            </div>
        </div>
    </p>
    <p>
        <div class="row" style="margin-left: 5px;  margin-bottom:10px">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="margin-top: 10px">
                <label> Giới tính: </label>
            </div>
            <div class="col-sm-4">
                <input id="gioitinh" data-source="dataSource" data-bind="value: GioiTinh" placeholder="Chọn giới tính..." style="width: 93%;">
            </div>
        </div>
    </p>
    <p>
        <div class="row" style="margin-left: 5px;  margin-bottom:10px">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="margin-top: 5px">
                <label> Mối quan hệ: </label>
            </div>
            <div class="col-sm-4">
                <input id="moiqh" data-bind="value: IDMoiQuanHe" placeholder="Chọn mối quan hệ..." style="width: 93%" />
            </div>
        </div>
    </p>
    <p>
        <input class="k-textbox" data-bind="value: IDPhuHuynh" data-source="dataSource" type="hidden" />
    </p>

</script>

<style type="text/css">
    .customer-photo {
        display: inline-block;
        width: 60px;
        height: 80px;
        border-radius: 50%;
        background-size: 60px 80px;
        background-position: center center;
        vertical-align: middle;
        line-height: 80px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-photo2 {
        display: inline-block;
        width: 120px;
        height: 150px;
        border-radius: 50%;
        background-size: 120px 150px;
        background-position: center center;
        vertical-align: middle;
        line-height: 150px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 8px;
    }
</style>

<style>
    label.required {
        color: #FFFFFF;
    }

    input.k-textbox {
        height: 3.13em;
    }
</style>